__pycache__
.ipynb_checkpoints
.vscode
.pytest_cache

**/mlruns/
**/mlruns_artifacts/
**/workspace/
**/output/

.env
.bin
*.db

.DB_Store

*.parquet
*.html
*.csv

**.terraform/
**.terraform.lock*
**terraform.tfstate*